body {
    background-image: linear-gradient(120deg, #f4f4f4 0%, #f0f0f0 100%);
}

// 컨텐츠 감싸는거
.contant-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    padding: 32px 38px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 720px;
    border-radius: 16px;
    border: #f0f0f0 solid 1px;
    color: #131313;

    h2 {
        font-size: 28px;
        margin-bottom: 6px;
    }

    p {
        font-size: 16px;
        display: inline-block;
    }

    #red {
        font-weight: 500;
        color: #c43f24;
    }

    .select-container {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        .select-contant {
            width: 44.5%;
            height: 200px;
            padding: 18px 16px;
            border-radius: 12px;

            h2 {
                font-size: 24px;
                font-weight: 900;
            }

            p {
                font-weight: 300;
                font-size: 12px;
                margin: 0;
            }
        }

    }
}

.theme {
    &-normal {
        transition: all .3s;
        border: solid 1px #d8d8d8;
    }

    &-lee {
        background: hsla(232, 73%, 65%, 1);
        background: linear-gradient(120deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
        background: -moz-linear-gradient(120deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
        background: -webkit-linear-gradient(120deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
        color: hsl(0, 0%, 95%, 94%);
        transition: all .3s;
    }

    &-bang {
        background: hsla(283, 83%, 86%, 1);
        background: linear-gradient(120deg, hsla(283, 83%, 86%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
        background: -moz-linear-gradient(120deg, hsla(283, 83%, 86%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
        background: -webkit-linear-gradient(120deg, hsla(283, 83%, 86%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
        transition: all .3s;
    }
}